@model AssignedTeamsEditModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_FormFieldLayout.cshtml";
}
@section Editable
{
    @Html.ListBoxFor(m => m.TeamIds, Model.AllTeams, new { @class = "form-control multi-select" })
    @Html.ValidationMessageFor(m => m.TeamIds)
}
@section Readonly
{
    @Html.HiddenFor(m => m)
    <p class="form-control-static">@Model.SelectedTeamNames</p>
}
