@model RolesEditModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_FormFieldLayout.cshtml";
}
@section Editable
{
    @Html.ListBoxFor(m => m.RoleIds, Model.AllRoles, new { @class = "form-control multi-select" })
    @Html.ValidationMessageFor(m => m.RoleIds)
}
@section Readonly
{
    @Html.HiddenFor(m => m)
    <p class="form-control-static">@Model.SelectedRoleNames</p>
}
