@model GameStatisticsPageTeamModel
<table id="statsTable@(Model.HostLabel)" class="table table-bordered table-condensed table-striped stats-table">
    <thead>
        <tr class="info">
            <th class="center" colspan="21">@Model.HostLabel Team: @Html.TeamLink(Model.TeamInfo.TeamName, Model.TeamInfo.TeamId, Model.Year)</th>
        </tr>
        <tr class="info datatable-headers"></tr>
    </thead>
</table>
