@model AdminListTableModel
<a href="@Model.CreateItemUrl"><span class="glyphicon glyphicon-plus"></span> Add new @Model.ListItemName</a>
<table class="table table-bordered table-condensed table-striped admin-list">
    <thead>
        <tr class="info datatable-headers"></tr>
        <tr class="info datatable-settings">
            <th>
                <h4>Choose which columns to include:</h4>
                <div class="btn-group" data-toggle="buttons"></div>
            </th>
        </tr>
    </thead>
</table>
