@model AdminListTableModel
@if (Model.CreateItemUrl != null)
{
    <a href="@Model.CreateItemUrl"><span class="glyphicon glyphicon-plus"></span> Add new @Model.ListItemName</a>
}
<table id="adminListTable" class="table table-bordered table-condensed table-striped admin-list">
    <thead>
        <tr class="info datatable-settings">
            <th data-bind="attr: { colspan: columns.length + 1 }">
                <a class="admin-list-settings"><span class="glyphicon glyphicon-remove"></span></a>
                <h4>Choose which columns to include:</h4>
                <div class="btn-group" data-toggle="buttons" data-bind="foreach: customizableColumns">
                    <label class="btn btn-primary column-toggle" data-bind="attr: {'data-column': $index}, css: {active: $data.visible !== false}">
                        <input type="checkbox" autocomplete="off">
                        <span data-bind="text: title"></span>
                    </label>
                </div>
            </th>
        </tr>
        <tr class="info datatable-headers">
            <!-- ko foreach: columns -->
            <th></th>
            <!-- /ko -->
            <th>
                @if (Model.CustomActionHeader == null)
                {
                    <a class="admin-list-settings"><span class="glyphicon glyphicon-cog"></span></a>
                }
                else
                {
                    @Model.CustomActionHeader
                }
            </th>
        </tr>
    </thead>
</table>
