@model GameResultsListTeamModel
@if (Model.Teams.Count > 1)
{
    var dict = new RouteValueDictionary(ViewContext.RouteData.Values);

    <div class="btn-group dropdown year-dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Model.FullName
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @foreach (var team in Model.Teams)
                {
                    dict["id"] = team.TeamId;
                    var activeClass = team.TeamId == Model.TeamId ? "active" : "";
                    var url = team.TeamId == Model.TeamId ? "" : Url.RouteUrl(dict);

                <li class="@activeClass"><a href="@url">@team.FullName</a></li>
            }
        </ul>
    </div>
}
