@model StatsLeaderModel
<tr>
    <th>
        @Html.RouteLink(Model.Category.Name, new
                                             {
                                                 Controller = "Statistics",
                                                 TeamId = Model.TeamId,
                                                 Year = Model.Year,
                                                 Sort = Model.Category.Name
                                             }, null)
    </th>
    <td>
        @if (Model.PlayerId.HasValue)
        {
            @Html.RouteLink(Model.Name, new
                                        {
                                            Controller = "Statistics",
                                            PlayerId = Model.PlayerId,
                                            Year = Model.Year
                                        }, null)
        }
        else
        {
            @Model.Name
        }
    </td>
    <td>@(Model.Value.HasValue ? Model.Value.Value.ToString(Model.Category.IsPercentage
                                                                ? Consts.Decimal3PlacesFormat
                                                                : Consts.WholeNumberFormat) : null)</td>
</tr>
