@model StatsLeaderModel
@{ 
    var year = Model.Year == Consts.CurrentYear ? null : $"/{Model.Year.AsRouteParameter()}";
}
<tr>
    <th>
        <a href="/Statistics/Team/@Model.TeamId@year?sort=@Model.Category.Field">@Model.Category.Name</a>
    </th>
    <td>
        @if (Model.PlayerId.HasValue)
        {
            <a href="/Statistics/Player/@Model.PlayerId@year">@Model.Name</a>
        }
        else
        {
            @Model.Name
        }
    </td>
    <td>
        @(Model.Value?.ToString(Model.Category.IsPercentage
            ? Consts.Decimal3PlacesFormat
            : Consts.WholeNumberFormat))</td>
</tr>
