@model CoachListModel
@{
    const string title = "Coaches";
    ViewBag.Title = title + Model.Year.AsTitleSuffix();
}
@Html.Partial("_YearPartial")
<h2>@title</h2>
<table class="table table-coach">
    @Html.DisplayFor(m => m.Divisions)
</table>
