@model CoachListModel
@{
    const string title = "Coaches";
    ViewBag.Title = title + Model.Year.AsTitleSuffix();
}
<partial name="_YearPartial" />
<h2>@title</h2>
<table class="table coach-table">
    @Html.DisplayFor(m => m.Divisions)
</table>
