@model ExternalLoginListViewModel
@using Microsoft.Owin.Security
<h4>Use an external service to log in.</h4>
<hr />
<p>
    If you registered for the site using an external service, you should log in with the same one. If you registered
    ith a password (or added one to your account after registering), you may log in with that password.
</p>
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().ToList();
    if (!loginProviders.Any())
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                @foreach (var p in loginProviders)
                {
                    <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider"
                            value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                        <img src="~/Content/Images/LoginProviders/@(p.AuthenticationType).png" />
                    </button>
                }
            </div>
        }
    }
}
