@model ScheduleGameParticipantEditModel
@{
    var isReadonly = ViewBag.IsReadonly ?? false;
}
<div class="form-group">
    @Html.LabelFor(m => m.RunsScored, Model.TeamName, new {@class = $"col-xs-{(isReadonly ? 11 : 9)} schedule-game-cell"})
    <div class="col-xs-@(isReadonly ? 1 : 3) runs">
        @if (isReadonly)
        {
            <p class="form-control-static">@Model.RunsScored</p>
        }
        else
        {
            @Html.TextBoxFor(m => m.RunsScored, new { @class = "form-control", @type = "number" })
        }
    </div>
    @Html.ValidationMessageFor(m => m.RunsScored)
</div>
