@model ScheduleConferenceModel
<div class="panel panel-primary">
    <div class="panel-heading">
        @Model.Label Games
    </div>
    <div class="panel-body">
        <div class="row">
            @Html.EditorFor(m => m.Games)
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <input class="btn btn-info" type="submit" value="Save">
            </div>
        </div>
    </div>
</div>
