@model ScheduleGameModel
<div class="col-lg-3 col-md-4 col-sm-6 grid4321">
    <div class="schedule-game">
        <div class="container-fluid game-header">
            <div class="row">
                <div class="col-xs-10 schedule-game-cell">@Html.EditorFor(m => m.HeaderRow.LabelData)</div>
                <div class="col-xs-2 schedule-game-cell">Runs</div>
            </div>
        </div>
        <div class="container-fluid game-body">
            @Html.EditorFor(m => m.RoadTeamRow)
            @Html.EditorFor(m => m.HomeTeamRow)
        </div>
    </div>
</div>
