@model List<Tcbcsl.Data.Entities.PageContent>
@{
    const string title = "Manage Content";
    ViewBag.Title = title;
}
<h2>@title</h2>
<table id="contentTable" class="table table-bordered table-condensed table-striped content-list-table">
    <thead>
        <tr class="info"></tr>
    </thead>
</table>
@section scripts
{
    <script>
        var columns = [
                    { 'title': 'Id',      'data': 'PageContentId' },
                    { 'title': 'Tag',     'data': 'PageTag'       },
                    { 'title': 'Title',   'data': 'Title'         },
                    { 'title': 'Content', 'data': 'Content', 'render': renderContentCell },
                    { 'title': '',        'data': '',        'render': renderEditLink    }
        ];

        addDataTableHeaderCells('#contentTable', columns);

        $(function() {
            $('#contentTable').dataTable({
                'ajax': {
                    'url': '/Admin/Content/Data',
                    'type': 'POST',
                    'dataSrc': ''
                },
                'info': false,
                'ordering': false,
                'paging': false,
                'searching': false,
                'columns': columns
            });
        });

        function renderContentCell(data, type) {
            return type === 'display'
                ? '<div class="partial-content">' + data + '</div>'
                : data;
        }

        function renderEditLink(data, type, row) {
            return type === 'display'
                ? '<a href="/Admin/Content/Edit/' + row.PageContentId + '">edit</a>'
                : '';
        }
    </script>
}
