@model ScheduleModel
@{
    var title = "Schedule for " + Model.Date.ToString(Consts.DateFormat);
    ViewBag.Title = title;
}
<h2>@title</h2>
@foreach (var conference in Model.ConferenceModels)
{
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @conference.Label Games
            </div>
        </div>
    </div>
}