/* VS default provided styles */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Hide something by making it transparent (but take up space in the document) #kludge */

.pseudo-hidden {
    color: rgba(0, 0, 0, 0.0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Year dropdown */

.year-dropdown {
    margin-top: 20px;
}

.year-dropdown .dropdown-toggle {
    font-size: 1.7em;
    padding: 0 15px;
}

/* Schedule */

.schedule-game {
    margin-bottom: 20px;
    border: solid 1px #ddd;
}

.schedule-game .game-header {
    background-color: #f8f8f8;
    border-bottom: solid 1px #ddd;
}

.schedule-game .game-header .row div {
    padding: 0 5px;
    font-weight: bold;
    text-align: right;
}

.schedule-game .game-body .row div {
    padding: 10px 5px;
    text-align: right;
}

.schedule-game .row div:first-child {
    text-align: left;
}

.schedule-game .game-body .winner {
    font-weight: bold;
}

@media (min-width: 768px) and (max-width: 991px) {
    .grid4321:nth-child(2n + 1) {
        clear: left;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .grid4321:nth-child(3n + 1) {
        clear: left;
    }
}

@media (min-width: 1200px) {
    .grid4321:nth-child(4n + 1) {
        clear: left;
    }
}

/* Schedule Calendar */

.calendar-dropdown {
    margin-top: 20px;
}

.calendar-dropdown .dropdown-toggle {
    font-size: 1.7em;
    padding: 0 15px;
}

.calendar-modal .calendar-content > .panel {
    margin: 0;
    border: none;
}

.calendar-modal .calendar-content > .panel > .panel-body {
    padding-bottom: 0;
}

.calendar-modal .calendar-content .panel-heading {
    text-align: center;
    font-size: 1.1em;
}

.calendar-modal .calendar-content .calendar-year-nav {
    font-size: 1.5em;
}

.calendar-modal .calendar-content .calendar-year-nav a {
    color: white;
}

.calendar-modal .calendar-content .calendar-year-nav a:hover {
    color: #337ab7;
}

.calendar-modal .calendar-content .calendar-year-nav a.disabled {
    pointer-events: none;
}

.calendar-modal .calendar-content .table-month {
    border-collapse: separate;
    border-spacing: 2px;
    padding: 0 3px;
}

.calendar-modal .calendar-content .table-month th,
.calendar-modal .calendar-content .table-month td {
    text-align: right;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 2px;
    padding-right: 9px;
}

.calendar-modal .calendar-content .table-month td {
    border: none;
    border-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.calendar-modal .calendar-content .table-month td.active {
    background-color: #2fa4e7;
    color: #fff;
    text-shadow: none;
}

.calendar-modal .calendar-content .table-month td.calendar-games a {
    font-weight: bold;
    text-shadow: none;
}

.calendar-modal .calendar-content .calendar-month, 
.calendar-modal .modal-dialog {
    width: 275px;
}

.calendar-modal .modal-dialog {
    margin: 10px auto;
}

@media (min-width: 768px) {
    .calendar-modal .modal-dialog {
        margin: 30px auto;
        width: 550px;
    }
}

@media (min-width: 992px) {
    .calendar-modal .modal-dialog {
        margin: 30px auto;
        width: 825px;
    }
}

@media (min-width: 1200px) {
    .calendar-modal .modal-dialog {
        margin: 30px auto;
        width: 1100px;
    }
}