@import "variables.less";

/* ReSharper disable DeclarationIsEmpty */

@border-size-tiny: 1px;

@calendarMonthWidth: 275px;

@spacing-default: 5px;

/* Save room for nav-bar */
body {
    padding-top: @navbar-height;
}

/* Fix DataTables page length formatting */
.dataTables_length {
    padding-top: @spacing-default;
}

/* Classes used for selecting elements */
.form-with-validation { /**/ }
.html-editor { /**/ }

.address-map {
    .well {
        margin: 0;
        padding: 4px 10px;
        text-align: center;
    }
}

.admin-list-table td {
    overflow: hidden;

    .partial-content {
        max-height: 10em;
        overflow-y: scroll;
        padding: @spacing-default;
        margin: -@spacing-default;
    }
}

.calendar-dropdown {
    margin-top: @line-height-computed;

    .dropdown-toggle {
        font-size: 1.7em;
        padding: 0 15px;
    }
}

.calendar-modal {
    .modal-dialog {
        margin: 10px auto;

        // Default xs width and overrides
        width: @calendarMonthWidth;

        @media (min-width: @screen-sm-min) {
            margin: 30px auto;
            width: (@calendarMonthWidth * 2);
        }

        @media (min-width: @screen-lg-min) {
            width: (@calendarMonthWidth * 4);
        }
    }
}

.calendar-content {
    & > .panel {
        margin: 0;
        border: none;

        & > .panel-body {
            padding-bottom: 0;
        }
    }

    .panel-heading {
        text-align: center;
        font-size: 1.1em;
    }
}

.calendar-year-nav {
    font-size: 1.5em;
}

.calendar-month {
    width: @calendarMonthWidth;

    .table-month {
        border-collapse: separate;
        border-spacing: 2px;
        padding: 0 3px;

        .tableMonthCell() {
            text-align: right;
            padding: 6px 9px 6px 2px;
        }

        th {
            .tableMonthCell();
        }

        td {
            .tableMonthCell();

            border: none;
            border-radius: @border-radius-base;
            text-shadow: 0 -1px 0 @gray;
            text-shadow: 0 -1px 0 @modal-content-border-color;

            &.active {
                background-color: @brand-primary;
                color: @panel-primary-text;
                text-shadow: none;
            }

            &.calendar-games {
                a {
                    font-weight: bold;
                    text-shadow: none;
                }
            }
        }
    }
}

.center {
    text-align: center;
}

.church {
    h4 {
        margin-top: 0;
    }
}

.coach-table {
    td {
        white-space: nowrap;

        &:last-child {
            white-space: normal;
        }
    }
}

@media (min-width: @screen-sm-min) {
    @media (max-width: @screen-sm-max) {
        .grid4321:nth-child(2n + 1),
        .grid4421:nth-child(2n + 1) {
            clear: left;
        }
    }

    @media (max-width: @screen-md-max) {
        .grid4221:nth-child(2n + 1) {
            clear: left;
        }
    }
}

@media (min-width: @screen-md-min) {
    .grid4221:nth-child(4n + 1),
    .grid4421:nth-child(4n + 1) {
        clear: left;
    }

    @media (max-width: @screen-md-max) {
        .grid4321:nth-child(3n + 1) {
            clear: left;
        }
    }
}

@media (min-width: @screen-lg-min) {
    .grid4321:nth-child(4n + 1) {
        clear: left;
    }
}

.list-group-inside {
    margin-top: @spacing-default;
    margin-bottom: @spacing-default;
}

.panel-heading {
    a {
        color: @panel-primary-text;

        &:hover {
            color: @link-hover-color;
        }

        &.disabled {
            pointer-events: none;
        }
    }
}

/* Hide something by making it transparent (but take up space in the document) #kludge */
.pseudo-hidden {
    color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.return-link {
    float: right;
}

.schedule-game {
    margin-bottom: @line-height-computed;
    border: solid @border-size-tiny @table-border-color;

    .schedule-game-cell {
        text-align: right;

        &:first-child {
            text-align: left;
        }
    }

    .game-header {
        background-color: @gray-lighter;
        border-bottom: solid @border-size-tiny @table-border-color;

        .schedule-game-cell {
            padding: 0 @spacing-default;
            font-weight: bold;
        }
    }

    .game-body {
        .schedule-game-cell {
            padding: (@spacing-default * 2) @spacing-default;
        }

        .winner {
            font-weight: bold;
        }
    }
}

.stats-table {
    font-size: 0.85714286em;
}


.team-schedule {
    .home {
        background-color: white;
    }

    .away {
        background-color: lighten(@brand-primary, 38%);
    }

    .neutral {
        background-color: @gray-lighter;
    }
}

.table-schedule-legend {
    .swatch {
        border: solid @border-size-tiny @table-border-color;
        border-radius: @border-radius-base;
        box-shadow: 2px 2px 3px @table-border-color;
        padding: 0 8px;
        margin-right: @spacing-default;
    }

    & > div {
        margin-right: 15px;
    }
}

.year-dropdown {
    margin-top: @line-height-computed;

    .dropdown-toggle {
        font-size: 1.7em;
        padding: 0 15px;
    }
}

@media print {
    a[href]:after {
        content: '';
    }

    body {
        padding: 0;
    }

    .body-content > h2,
    .calendar-dropdown,
    .year-dropdown {
        margin-top: 0;
    }

    .body-content > hr,
    .body-content > footer,
    .calendar-dropdown .caret,
    .year-dropdown .caret {
        display: none;
    }

    .year-dropdown > .btn,
    .calendar-dropdown > .btn {
        border: none;
    }
}
