@model PlayerStatisticsPageModel
@{
    var title = "Statistics - " + Model.Player.PlayerFirstName + " " + Model.Player.PlayerLastName;
    ViewBag.Title = title + Model.Year.AsTitleSuffix();

    var ajaxData = Model.Player.PlayerId + "/" + Model.Year.AsRouteParameter();
}
@Html.Partial("_YearsPartial", Model.Year)
<h2>@title</h2>
@Html.Partial("_StatsTable", "statsTable")
@section scripts
{
    @if (Model.Year == YearEnum.All)
    {
        <script>
            $(function () {
                statstable_RenderPlayerCareerStats('@ajaxData');
            });
        </script>
    }
    else
    {
        <script>
            $(function () {
                statstable_RenderPlayerSeasonStats('@ajaxData');
            });
        </script>
    }
}
