@model TeamStatisticsPageModel
@{
    var title = $"Statistics - {Model.Team.TeamName}";
    ViewBag.Title = title + Model.Year.AsTitleSuffix();
}
<partial name="_YearsPartial" model="@Model.Year" />
<h2>@title</h2>
<partial name="_StatsTable" model='"statsTable"' />
@section scripts
{
    <script>
        $(function () {
            statstable_RenderTeamStats('@(Model.Team.TeamId + "/" + Model.Year.AsRouteParameter())', '@Model.SortColumn');
        });
    </script>
}
