@model LeagueStatisticsPageModel
@{
    const string title = "Statistics - League - Teams";
    ViewBag.Title = title + Model.Year.AsTitleSuffix();
}
@Html.Partial("_YearsPartial", Model.Year)
<h2>@title</h2>
@Html.Partial("_StatsTable", "statsTable")
@section scripts
{
    <script>
        $(function () {
            statstable_RenderLeagueTeamStats('@Model.Year.AsRouteParameter()');
        });
    </script>
}
