@model LeagueStatisticsPageModel
@{
    const string title = "Statistics - League - Teams";
    ViewBag.Title = title + Model.Year.AsTitleSuffix();
}
<partial name="_YearsPartial" model="@Model.Year" />
<h2>@title</h2>
<partial name="_StatsTable" model='"statsTable"' />
@section scripts
    {
    <script>
        $(function () {
            statstable_RenderLeagueTeamStats('@Model.Year.AsRouteParameter()');
        });
    </script>
}
