@model bool?
@{
    Layout = "~/Areas/Admin/Views/Shared/_FormFieldLayout.cshtml";
}
@section Editable
{
    @Html.DropDownListFor(m => m, Model.ToSelectList(), new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m)
}
@section Readonly
{
    @Html.HiddenFor(m => m)
    <p class="form-control-static">@(Model ?? false ? "Yes" : "No")</p>
}
