@model DateTimeOffset?
@{
    Layout = "~/Areas/Admin/Views/Shared/_FormFieldLayout.cshtml";
}
@section Editable
{
    <div class="input-group datetime-picker" id="datetimePicker_@Html.IdForModel()">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
        @Html.TextBoxFor(m => m, $"{{0:{Consts.DateTimeFormatDisplay}}}", new { @class = "form-control" })
    </div>
    @Html.ValidationMessageFor(m => m)
}
@section Readonly
{
    @Html.HiddenFor(m => m)
    <p class="form-control-static">@(Model?.ToString(Consts.DateTimeFormatDisplay))</p>
}
