@model NewsEditTeamModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_FormFieldLayout.cshtml";
}
@section Editable
{
    @Html.DropDownListFor(m => m.TeamId,
                          new SelectList(Model.Teams.Select(t => new SelectListItem {Value = t.TeamId.ToString(), Text = t.TeamName}), "Value", "Text", Model),
                          new {@class = "form-control"})
    @Html.ValidationMessageFor(m => m.TeamId)
}
@section Readonly
{
    @Html.HiddenFor(m => m.TeamId)
    <p class="form-control-static">@Model.TeamName</p>
}
