@model PhoneEditModel
@if (ViewBag.IsReadonly ?? false)
{
    @Html.HiddenFor(m => m)
    <p class="form-control-static">@Model.PhoneNumber</p>
}
else
{
    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @type = "tel" })
    @Html.ValidationMessageFor(m => m)
}
