@model PhoneEditModelList
<div class="form-group">
    @Html.LabelForModel(new { @class = "control-label col-sm-2" })
    <div class="col-sm-10">
        <div class="well">
            @Html.EditorFor(m => m.Models, new { IsReadOnly = ViewBag.IsReadonly ?? false })
        </div>
    </div>
</div>
