SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jay French
-- Create date: 4/24/2011
-- Description:	Import Data from old (MySql) database.
-- =============================================
ALTER PROCEDURE [dbo].[ImportData] AS
BEGIN
	DECLARE @Years Table (
		[Year] int
	)

	INSERT @Years
	SELECT DISTINCT TY_Year
	FROM OLD_Team_Year
		
	PRINT 'Remove existing data from NewsItems'
	DELETE FROM NewsItems

	PRINT 'Remove existing data from PageContents'
	DELETE FROM PageContents

	PRINT 'Remove existing data from StatLines'
	DELETE FROM StatLines

	PRINT 'Remove existing data from Players'
	DELETE FROM Players

	PRINT 'Remove existing data from GameParticipants'
	DELETE FROM GameParticipants

	PRINT 'Remove existing data from Games'
	DELETE FROM Games

	PRINT 'Remove existing data from TeamYears'
	DELETE FROM TeamYears

	PRINT 'Remove existing data from Teams'
	DELETE FROM Teams

	PRINT 'Remove existing data from Coaches'
	DELETE FROM Coaches

	PRINT 'Remove existing data from Churches'
	DELETE FROM Churches

	PRINT 'Remove existing data from Divisions'
	DELETE FROM Divisions

	PRINT 'Remove existing data from Conferences'
	DELETE FROM Conferences

	PRINT 'Remove existing data from GameStatus'
	DELETE FROM GameStatus

	PRINT 'Remove existing data from GameTypes'
	DELETE FROM GameTypes

	PRINT 'Inserting into GameStatus'
	SET IDENTITY_INSERT GameStatus ON
	INSERT GameStatus (GameStatusId, Description, DisplayScores, IsComplete)
		SELECT
			GS_Id,
			GS_Description,
			GS_Display_Scores,
			GS_Completed
		FROM OLD_GameStatus
		ORDER BY
			GS_Id
	SET IDENTITY_INSERT GameStatus OFF

	PRINT 'Inserting into GameTypes'
	SET IDENTITY_INSERT GameTypes ON
	INSERT GameTypes (GameTypeId, [Description], RecordGame)
		SELECT
			GT_Id,
			GT_Description,
			GT_Record
		FROM OLD_GameType
		ORDER BY
			GT_Id
	SET IDENTITY_INSERT GameTypes OFF

	PRINT 'Inserting into Conferences'
	SET IDENTITY_INSERT Conferences ON
	INSERT Conferences (ConferenceId, Created, CreatedBy, Modified, ModifiedBy)
		SELECT
			C_Id,
			C_Create_Date,
			C_Create_User,
			CASE WHEN C_Update_Date = C_Create_Date THEN NULL ELSE C_Update_Date END,
			CASE WHEN C_Update_Date = C_Create_Date THEN NULL ELSE C_Update_User END
		FROM OLD_Conference
		ORDER BY
			C_Id
	SET IDENTITY_INSERT Conferences OFF

	PRINT 'Inserting into ConferenceYears'
	DBCC CHECKIDENT ([ConferenceYears], RESEED, 0)
	INSERT ConferenceYears (ConferenceId, [Year], Name, IsInLeague, Sort, Created, CreatedBy, Modified, ModifiedBy)
		SELECT
			C_Id,
			[Year],
			C_Name,
			C_In_League,
			C_Sort,
			C_Create_Date,
			C_Create_User,
			CASE WHEN C_Update_Date = C_Create_Date THEN NULL ELSE C_Update_Date END,
			CASE WHEN C_Update_Date = C_Create_Date THEN NULL ELSE C_Update_User END
		FROM OLD_Conference, @Years
		ORDER BY
			[Year], 
			C_Id

	PRINT 'Inserting into Divisions'
	SET IDENTITY_INSERT Divisions ON
	INSERT Divisions (DivisionId, Created, CreatedBy, Modified, ModifiedBy)
		SELECT
			D_Id,
			D_Create_Date,
			D_Create_User,
			CASE WHEN D_Update_Date = D_Create_Date THEN NULL ELSE D_Update_Date END,
			CASE WHEN D_Update_Date = D_Create_Date THEN NULL ELSE D_Update_User END
		FROM OLD_Division
		ORDER BY
			D_Id
	SET IDENTITY_INSERT Divisions OFF

	PRINT 'Inserting into DivisionYears'
	DBCC CHECKIDENT ([DivisionYears], RESEED, 0)
	INSERT DivisionYears (DivisionId, ConferenceYearId, [Year], Name, IsInLeague, Sort, Created, CreatedBy, Modified, ModifiedBy)
		SELECT DISTINCT
			D_Id,
			ConferenceYearId,
			[Year],
			D_Name,
			D_In_League,
			D_Sort,
			D_Create_Date,
			D_Create_User,
			CASE WHEN D_Update_Date = D_Create_Date THEN NULL ELSE D_Update_Date END,
			CASE WHEN D_Update_Date = D_Create_Date THEN NULL ELSE D_Update_User END
		FROM           OLD_Division
			INNER JOIN OLD_Team_Year           ON TY_D_Id      = D_Id 
			INNER JOIN ConferenceYears ON ConferenceId = D_C_Id
							        		  AND [Year]       = TY_Year
		ORDER BY
			[Year],
			D_Id

	PRINT 'Inserting into Churches'
	SET IDENTITY_INSERT Churches ON
	INSERT Churches (ChurchId, FullName, DisplayName, Information, Street1, City, StateId, Zip, Phone1, Phone1TypeId, Created, CreatedBy, Modified, ModifiedBy)
		SELECT
			CH_Id,
			CH_Name,
			CH_Name_Short,
			REPLACE(REPLACE(CH_Info, '\r\n', CHAR(13) + CHAR(10)), '\n', CHAR(13) + CHAR(10)),
			CASE WHEN ISNULL(CH_Address_Street, '') = '' THEN NULL ELSE CH_Address_Street END,
			CASE WHEN ISNULL(CH_Address_City, '') = '' THEN NULL ELSE CH_Address_City END,
			CASE WHEN ISNULL(CH_Address_State, '') = 'MN' THEN 24 ELSE NULL END,
			CASE WHEN ISNULL(CH_Address_Zip, '') = '' THEN NULL ELSE CH_Address_Zip END,
			CASE WHEN ISNULL(CH_Phone, '') = '' THEN NULL ELSE CH_Phone END,
			CASE WHEN ISNULL(CH_Phone, '') = '' THEN NULL ELSE 1 END,
			CH_Create_Date,
			CH_Create_User,
			CASE WHEN CH_Update_Date = CH_Create_Date THEN NULL ELSE CH_Update_Date END,
			CASE WHEN CH_Update_Date = CH_Create_Date THEN NULL ELSE CH_Update_User END
		FROM OLD_Church
		ORDER BY
			CH_Id
	SET IDENTITY_INSERT Churches OFF

	PRINT 'Inserting into Coaches'
	SET IDENTITY_INSERT Coaches ON
	INSERT Coaches (CoachId, LastName, FirstName, Comments, Street1, City, StateId, Zip, Phone1, Phone1TypeId, Email, Created, CreatedBy, Modified, ModifiedBy)
		SELECT
			CO_Id,
			CASE WHEN CO_Name_Last = '' THEN NULL ELSE CO_Name_Last END,
			CASE WHEN CO_Name_First = '' THEN NULL ELSE CO_Name_First END,
			CASE WHEN CO_Comments = '' THEN NULL ELSE REPLACE(REPLACE(CO_Comments, '\r\n', CHAR(13) + CHAR(10)), '\n', CHAR(13) + CHAR(10)) END,
			CASE WHEN ISNULL(CO_Address_Street, '') = '' THEN NULL ELSE CO_Address_Street END,
			CASE WHEN ISNULL(CO_Address_City, '') = '' THEN NULL ELSE CO_Address_City END,
			CASE WHEN ISNULL(CO_Address_State, '') = 'MN' THEN 24 ELSE NULL END,
			CASE WHEN ISNULL(CO_Address_Zip, '') = '' THEN NULL ELSE CO_Address_Zip END,
			CASE WHEN ISNULL(CO_Phone, '') = '' THEN NULL ELSE CO_Phone END,
			CASE WHEN ISNULL(CO_Phone, '') = '' THEN NULL ELSE 1 END,
			CASE WHEN ISNULL(CO_Email, '') = '' THEN NULL ELSE CO_Email END,
			CO_Create_Date,
			CO_Create_User,
			CASE WHEN CO_Update_Date = CO_Create_Date THEN NULL ELSE CO_Update_Date END,
			CASE WHEN CO_Update_Date = CO_Create_Date THEN NULL ELSE CO_Update_User END
		FROM OLD_Contact
		ORDER BY
			CO_Id
	SET IDENTITY_INSERT Coaches OFF

	PRINT 'Inserting into Teams'
	SET IDENTITY_INSERT Teams ON
	INSERT Teams (TeamId, FieldInformation, Comments, Created, CreatedBy, Modified, ModifiedBy)
		SELECT
			T_Id,
			CASE WHEN ISNULL(T_Field_Directions, '') = '' THEN NULL ELSE T_Field_Directions END,
			CASE WHEN ISNULL(T_Comments, '') = '' THEN NULL ELSE REPLACE(REPLACE(T_Comments, '\r\n', CHAR(13) + CHAR(10)), '\n', CHAR(13) + CHAR(10)) END,
			T_Create_Date,
			T_Create_User,
			CASE WHEN T_Update_Date = T_Create_Date THEN NULL ELSE T_Update_Date END,
			CASE WHEN T_Update_Date = T_Create_Date THEN NULL ELSE T_Update_User END
		FROM OLD_Team
		ORDER BY
			T_Id
	SET IDENTITY_INSERT Teams OFF

	PRINT 'Inserting into TeamYears'
	SET IDENTITY_INSERT TeamYears ON
	INSERT TeamYears (TeamYearId, TeamId, [Year], TeamName, DivisionYearId, ChurchId, HeadCoachId, KeepsStats, HasPaid, Clinch, Created, CreatedBy, Modified, ModifiedBy)
		SELECT
			TY_Id,
			TY_T_Id,
			TY_Year,
			CASE WHEN ISNULL(TY_Name, '') = '' THEN NULL ELSE TY_Name END,
			DivisionYearId,
			TY_CH_Id,
			TY_CO_Id,
			TY_Keeps_Stats,
			T_Paid,
			CASE WHEN ISNULL(TY_ClinchChar, '') = '' THEN NULL ELSE TY_ClinchChar END,
			TY_Create_Date,
			TY_Create_User,
			CASE WHEN TY_Update_Date = TY_Create_Date THEN NULL ELSE TY_Update_Date END,
			CASE WHEN TY_Update_Date = TY_Create_Date THEN NULL ELSE TY_Update_User END
		FROM           OLD_Team_Year
			INNER JOIN OLD_Team               ON T_Id        = TY_T_Id
			INNER JOIN DivisionYears  ON DivisionId  = TY_D_Id
											 AND [Year]      = TY_Year
		ORDER BY
			TY_Id
	SET IDENTITY_INSERT TeamYears OFF

	PRINT 'Inserting into Games'
	SET IDENTITY_INSERT Games ON
	INSERT Games (GameId, GameDate, GameTypeId, GameStatusId, Created, CreatedBy, Modified, ModifiedBy)
		SELECT
			S_Id,
			S_Date,
			S_GT_Id,
			S_GS_Id,
			S_Create_Date,
			S_Create_User,
			CASE WHEN S_Update_Date = S_Create_Date THEN NULL ELSE S_Update_Date END,
			CASE WHEN S_Update_Date = S_Create_Date THEN NULL ELSE S_Update_User END
		FROM OLD_Schedule
		ORDER BY
			S_Id
	SET IDENTITY_INSERT Games OFF

	PRINT 'Inserting into GameParticipants'
	DBCC CHECKIDENT ([GameParticipants], RESEED, 0)
	INSERT GameParticipants (GameId, TeamYearId, IsHost, RunsScored, Created, CreatedBy, Modified, ModifiedBy)
		SELECT
			ST_S_Id,
			TY_Id,
			ST_Host,
			ST_Runs_Scored,
			ST_Create_Date,
			ST_Create_User,
			CASE WHEN ST_Update_Date = ST_Create_Date THEN NULL ELSE ST_Update_Date END,
			CASE WHEN ST_Update_Date = ST_Create_Date THEN NULL ELSE ST_Update_User END
		FROM           OLD_Schedule_Team
			INNER JOIN OLD_Schedule      ON S_Id        = ST_S_Id
			INNER JOIN OLD_Team_Year     ON TY_T_Id     = ST_T_Id
			                            AND TY_Year     = YEAR(S_Date)
		ORDER BY
			ST_S_Id,
			ST_Host

	PRINT 'Inserting into Players'
	SET IDENTITY_INSERT Players ON
	INSERT Players (PlayerId, NameLast, NameFirst, IsActive, CurrentTeamId, Created, CreatedBy, Modified, ModifiedBy)
		SELECT
			P_Id,
			CASE WHEN ISNULL(P_Name_Last, '') = '' THEN
					CASE WHEN ISNULL(P_Name_First, '') = '' THEN CONVERT(varchar, P_Id) ELSE 'Something' END
				 ELSE P_Name_Last END,
			CASE WHEN ISNULL(P_Name_First, '') = '' THEN
					CASE WHEN ISNULL(P_Name_Last, '') = '' THEN 'Player' ELSE 'Mr.' END
				 ELSE P_Name_First END,
			P_Active,
			P_T_Id,
			P_Create_Date,
			P_Create_User,
			CASE WHEN P_Update_Date = P_Create_Date THEN NULL ELSE P_Update_Date END,
			CASE WHEN P_Update_Date = P_Create_Date THEN NULL ELSE P_Update_User END
		FROM OLD_Player
		ORDER BY
			P_Id
	SET IDENTITY_INSERT Players OFF

	PRINT 'Inserting into StatLines'
	DBCC CHECKIDENT ([StatLines], RESEED, 0)
	INSERT StatLines (PlayerId, GameParticipantId, BattingOrderPosition, StatSingles, StatDoubles, StatTriples, StatHomeRuns, StatWalks, StatSacrificeFlies, StatOuts, StatFieldersChoices, StatReachedByErrors, StatStrikeouts, StatRuns, StatRunsBattedIn, Created, CreatedBy, Modified, ModifiedBy)
		SELECT
			PS_P_Id,
			GameParticipantId,
			PS_Order,
			PS_1B,
			PS_2B,
			PS_3B,
			PS_HR,
			PS_BB,
			PS_Sac,
			PS_Outs,
			PS_FC,
			PS_E,
			PS_SO,
			PS_Runs,
			PS_RBI,
			PS_Create_Date,
			PS_Create_User,
			CASE WHEN PS_Update_Date = PS_Create_Date THEN NULL ELSE PS_Update_Date END,
			CASE WHEN PS_Update_Date = PS_Create_Date THEN NULL ELSE PS_Update_User END
		FROM           OLD_Player_Stats
			INNER JOIN Games            g   ON g.GameId       = PS_S_Id
			INNER JOIN TeamYears        ty  ON ty.TeamId      = PS_T_Id
												   AND ty.[Year]      = YEAR(g.GameDate)
			INNER JOIN GameParticipants gty ON gty.GameId     = g.GameId
												   AND gty.TeamYearId = ty.TeamYearId
		ORDER BY
			PS_S_Id,
			PS_T_Id,
			PS_Order

	PRINT 'Remove Players who don''t have stats and were created before 2012'
	DELETE
	FROM Players
	WHERE PlayerId IN (
		SELECT DISTINCT
			p.PlayerId
		FROM          Players   p
			LEFT JOIN StatLines sl ON sl.PlayerId = p.PlayerId
		WHERE sl.PlayerId IS NULL
		  AND p.Created < '2012-01-01'
	)

	PRINT 'Inserting into NewsItems'
	SET IDENTITY_INSERT NewsItems ON
	INSERT NewsItems (NewsItemId, StartDate, EndDate, IsActive, TeamId, Subject, Content, Created, CreatedBy, Modified, ModifiedBy)
		SELECT
			N_Id,
			CASE WHEN ISNULL(N_Date_Start, '0000-00-00 00:00:00') = '0000-00-00 00:00:00' THEN N_Create_Date ELSE N_Date_Start END,
			CASE WHEN ISNULL(N_Date_End, '0000-00-00 00:00:00') = '0000-00-00 00:00:00' THEN '9999-12-31 23:59:59' ELSE N_Date_End END,
			N_Active,
			CASE WHEN ISNULL(N_T_Id, 0) = 0 THEN NULL ELSE N_T_Id END,
			CASE WHEN ISNULL(N_Subject, '') = '' THEN NULL ELSE N_Subject END,
			CASE WHEN ISNULL(N_Content, '') = '' THEN '' ELSE REPLACE(REPLACE(N_Content, '\r\n', CHAR(13) + CHAR(10)), '\n', CHAR(13) + CHAR(10)) END,
			N_Create_Date,
			N_Create_User,
			CASE WHEN N_Update_Date = N_Create_Date THEN NULL ELSE N_Update_Date END,
			CASE WHEN N_Update_Date = N_Create_Date THEN NULL ELSE N_Update_User END
		FROM OLD_News
		ORDER BY
			N_Id
	SET IDENTITY_INSERT NewsItems OFF

	PRINT 'Inserting into PageContents'
	SET IDENTITY_INSERT PageContents ON
	INSERT PageContents (PageContentId, PageTag, Content, Created, CreatedBy, Modified, ModifiedBy)
		SELECT
			PC_Id,
			PC_Page,
			REPLACE(REPLACE(PC_Content, '\r\n', CHAR(13) + CHAR(10)), '\n', CHAR(13) + CHAR(10)),
			PC_Create_Date,
			PC_Create_User,
			CASE WHEN PC_Update_Date = PC_Create_Date THEN NULL ELSE PC_Update_Date END,
			CASE WHEN PC_Update_Date = PC_Create_Date THEN NULL ELSE PC_Update_User END
		FROM OLD_PageContent
 		ORDER BY
			PC_Id
	SET IDENTITY_INSERT PageContents OFF
END
