<div class="btn-group row-nav">
    <button type="button" class="btn btn-info" data-direction="top" title="Move to Top"><span class="glyphicon glyphicon-fast-backward"></span></button>
    <button type="button" class="btn btn-info" data-direction="bot" title="Move to Bottom"><span class="glyphicon glyphicon-fast-forward"></span></button>
    <button type="button" class="btn btn-info" data-direction="up" title="Move Up"><span class="glyphicon glyphicon-backward"></span></button>
    <button type="button" class="btn btn-info" data-direction="dn" title="Move Down"><span class="glyphicon glyphicon-forward"></span></button>
</div>
