@model StatisticsEditModel
@{
    var title = $"Manage Statistics for {Model.TeamName} on {Model.GameDate.ToString(Consts.DateTimeFormatDisplay)}";
    ViewBag.Title = title;
}
<style>
    .form-grid .row-nav {
        width: 160px;
    }
    .form-grid .row-nav .glyphicon {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
</style>
<div class="well" style="min-width: 940px;">
    @using (Html.BeginForm("Game", "Statistics", FormMethod.Post, new {@class = "form-horizontal form-with-validation form-grid"}))
    {
        <fieldset>
            <legend>@title</legend>
            <table class="table table-condensed table-form">
                <thead>
                <tr>
                    <th>Order</th><th>Player</th><th>1B</th><th>2B</th><th>3B</th><th>HR</th><th>BB</th><th>Sac</th><th>Outs</th><th>FC</th><th>E</th><th>K</th><th>R</th><th>RBI</th>
                </tr>
                </thead>
                <tbody>
                @Html.EditorFor(m => m.StatLines)
                </tbody>
            </table>
            @Html.HiddenFor(m => m.UrlForReturn)
            @Html.Partial("_FormCancelSubmit", Model.UrlForReturn)
        </fieldset>
    }
</div>
@section scripts
{
    <script>
        $('.table-form')
            .on('focus', 'input[name$=".BattingOrderPosition"]', function() {
                $(this).data('val', $(this).val());
            })
            .on('change', 'input[name$=".BattingOrderPosition"]', function () {
                var oldVal = $(this).data('val'),
                    newVal = $(this).val();

                $(this).data('val', newVal);
            });
    </script>
}