@model IEnumerable<NewsItemModel>
@{
    ViewBag.Title = "Home Page";
}
<h1>News</h1>
<div class="container">
    <div class="row">
        @foreach (var newsItem in Model)
        {
            <div class="col-md-4">
                <h2>@newsItem.StartDate - @newsItem.Subject</h2>
                <p>@Html.Raw(newsItem.Content)</p>
            </div>
        }
    </div>
</div>