@model IEnumerable<NewsItemModel>
@{
    ViewBag.Title = "Home Page";
}
<h1>
    <span class="hidden-md hidden-lg">TCBCSL</span>
    <span class="hidden-xs hidden-sm">Twin Cities Baptist Church Softball League</span>
    News
</h1>
<div class="container">
    <div class="row">
        @foreach (var newsItem in Model)
        {
            <div class="col-md-6 col-sm-12">
                <h2>@newsItem.Subject</h2>
                <h4>@newsItem.StartDate.ToString(Consts.GameDateTimeFormat)</h4>
                <p>@Html.Raw(newsItem.Content)</p>
            </div>
        }
    </div>
</div>