@model StandingsModel
@{
    var title = Model.Type + " Standings";
    ViewBag.Title = title + Model.Year.AsTitleSuffix();

    // Make the columns the same size across tables by making the team name column very long
    var hackText = new string('X', Model.Groups.SelectMany(g => g.Teams.Select(t => t.TeamName.Length)).Max());
}
@Html.Partial("_YearPartial")
<h2>@title</h2>
@if (!Model.ShowTies)
{
    <style>
        .tiesColumn {
            display: none;
        }
    </style>
}
<div class="row">
    @Html.DisplayFor(m => m.Groups, new {HackText = hackText})
</div>
@{
    var clinchCharsUsed = Model.Groups.SelectMany(g => g.Teams.Select(t => t.ClinchChar)).Distinct().ToArray();
}
@string.Join(", ", Consts.ClinchDescriptions.Where(kvp => clinchCharsUsed.Contains(kvp.Key)).Select(kvp => kvp.ClinchDescriptionFormatted()))
