@model GameParticipantEditModel
@{
    var labelWidth = ViewBag.LabelWidth ?? 2;
    var editorWidth = 12 - labelWidth;
}
<div class="form-group">
    @Html.LabelFor(m => m.RunsScored, Model.TeamYear.FullName, new { @class = $"control-label col-sm-{labelWidth}" })
    <div class="col-sm-@editorWidth">
        @if (ViewBag.IsReadonly ?? false)
        {
            <p class="form-control-static">@Model.RunsScored</p>
        }
        else
        {
            @Html.TextBoxFor(m => m.RunsScored, new { @class = "form-control", @type = "number", data_rule_forfeit_score = true })
            @Html.ValidationMessageFor(m => m.RunsScored)
        }
    </div>
</div>
