@model TeamsListModel
@{
    const string title = "Teams";
    ViewBag.Title = title + Model.Year.AsTitleSuffix();
}
<partial name="_YearPartial" />
<h2>@title</h2>
<div class="row">
    @Html.DisplayFor(m => m.Divisions)
</div>
