@if (Request.IsAuthenticated)
{
    var userIsCommissioner = User.IsInRole(Tcbcsl.Data.Entities.Roles.LeagueCommissioner);

    var myTeamLinks = UserCache.AssignedTeams.Select(kvp => Html.RouteLink($"Manage {kvp.Value ?? "My Team"}", new { area = "Admin", controller = "Team", action = "Manage", id = kvp.Key }));

    var adminAreaLinks = new[]
                         {
                             new {Link = Html.RouteLink("Churches",     new {area = "Admin", controller = "Church",      action = "List"},     null), CommishOnly = true  },
                             new {Link = Html.RouteLink("Coaches",      new {area = "Admin", controller = "Coach",       action = "List"},     null), CommishOnly = true  },
                             new {Link = Html.RouteLink("News",         new {area = "Admin", controller = "News",        action = "List"},     null), CommishOnly = false },
                             new {Link = Html.RouteLink("Page Content", new {area = "Admin", controller = "ContentItem", action = "List"},     null), CommishOnly = true  },
                             new {Link = Html.RouteLink("Players",      new {area = "Admin", controller = "Player",      action = "List"},     null), CommishOnly = false },
                             new {Link = Html.RouteLink("Player Pool",  new {area = "Admin", controller = "Player",      action = "PoolList"}, null), CommishOnly = false },
                             new {Link = Html.RouteLink("Schedule",     new {area = "Admin", controller = "Schedule",    action = "Schedule"}, null), CommishOnly = true  },
                             new {Link = Html.RouteLink("Teams",        new {area = "Admin", controller = "Team",        action = "List"},     null), CommishOnly = true  },
                             new {Link = Html.RouteLink("Users",        new {area = "Admin", controller = "User",        action = "List"},     null), CommishOnly = true  }
                         };

    <li class="dropdown">
        @Html.Partial("_NavDropdownToggle", "Admin")
        <ul class="dropdown-menu">
            <li>@Html.RouteLink("Account", new { area = "", controller = "Manage", action = "Index" }, new { @class = "visible-sm" })</li>
            @foreach (var myTeamLink in myTeamLinks)
            {
                <li>@myTeamLink</li>
            }
            @foreach (var adminAreaLink in adminAreaLinks.Where(adminAreaLink => userIsCommissioner || !adminAreaLink.CommishOnly))
            {
                <li>@adminAreaLink.Link</li>
            }
        </ul>
    </li>
}
