@{
    var routeData = new Dictionary<string, string>
            {
                { "year", null }
            };
}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">TCBCSL</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a asp-area="" asp-controller="Schedule" asp-action="Schedule" asp-route-date="">Schedule</a>
                </li>
                <li class="dropdown">
                    <partial name="_NavDropdownToggle" model='"Standings"' />
                    <ul class="dropdown-menu">
                        <li><a asp-area="" asp-controller="Standings" asp-action="Standings" asp-all-route-data="routeData" asp-route-type="@StandingsType.Division.ToString()">Division</a></li>
                        <li><a asp-area="" asp-controller="Standings" asp-action="Standings" asp-all-route-data="routeData" asp-route-type="@StandingsType.League.ToString()">League</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <partial name="_NavDropdownToggle" model='"Statistics"' />
                    <ul class="dropdown-menu">
                        <li><a asp-area="" asp-controller="Statistics" asp-action="StatisticsForLeagueIndividual" asp-all-route-data="routeData">Individual</a></li>
                        <li><a asp-area="" asp-controller="Statistics" asp-action="StatisticsForLeagueTeam" asp-all-route-data="routeData">Teams</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <partial name="_NavDropdownToggle" model='"Members"' />
                    <ul class="dropdown-menu">
                        <li><a asp-area="" asp-controller="Church" asp-action="Churches" asp-all-route-data="routeData">Churches</a></li>
                        <li><a asp-area="" asp-controller="Coach" asp-action="Coaches" asp-all-route-data="routeData">Coaches</a></li>
                        <li><a asp-area="" asp-controller="Team" asp-action="Teams" asp-all-route-data="routeData">Teams</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <partial name="_NavDropdownToggle" model='"Rules"' />
                    <ul class="dropdown-menu">
                        <li><a asp-area="" asp-controller="ContentItem" asp-action="PageContent" asp-all-route-data="routeData" asp-route-tag="LeagueRules">League Rules</a></li>
                        <li><a asp-area="" asp-controller="ContentItem" asp-action="PageContent" asp-all-route-data="routeData" asp-route-tag="UmpireGuidelines">Umpire Guidelines</a></li>
                        <li><a asp-area="" asp-controller="ContentItem" asp-action="PageContent" asp-all-route-data="routeData" asp-route-tag="TournamentRules">Tournament Rules</a></li>
                    </ul>
                </li>
                <partial name="_AdminNavigation" />
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>
