@{ 
    var dict = ViewContext.RouteData.Values;
}
<select class="pull-right" id="yearSelector">
    @for (var year = 2001; year <= Consts.CurrentYear; ++year)
    {
        if (year == Consts.CurrentYear)
        {
            dict.Remove("year");
        }
        else
        {
            dict["year"] = year;
        }
        <option @(year == Model.Year ? "selected" : "") data-url="@Url.RouteUrl(dict)">@year</option>
    }
</select>
<script>
    $('#yearSelector').change(function () {
        window.location.href = $('#yearSelector option:selected').data('url');
    });
</script>
