@{ 
    var dict = ViewContext.RouteData.Values;
}
<div class="btn-group dropdown year-dropdown pull-right">
    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Model.Year
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @for (var year = Consts.CurrentYear; year >= Consts.FirstYear; --year)
        {
            if (year == Model.Year)
            {
                <li class="active"><a>@year</a></li>
            }
            else
            {
                if (year == Consts.CurrentYear)
                {
                    dict.Remove("year");
                }
                else
                {
                    dict["year"] = year;
                }

                <li><a href="@Url.RouteUrl(dict)">@year</a></li>
            }
        }
    </ul>
</div>
