@model YearEnum
@{ 
    var dict = ViewContext.RouteData.Values;
    var modelYear = Model.AsRouteParameter();
    var years = new[] {YearEnum.All.ToString()}.Concat(Enumerable.Range(Consts.FirstYear, Consts.CurrentYear - Consts.FirstYear + 1)
                                                                 .OrderByDescending(i => i)
                                                                 .Select(i => i.ToString()));
}
<div class="dropdown year-dropdown pull-right">
    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Model.AsDisplay()
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @foreach (var year in years)
        {
            if (year == modelYear)
            {
                <li class="active"><a>@(year == YearEnum.All.ToString() ? Consts.AllTime : year)</a></li>
            }
            else
            {
                if (year == Consts.CurrentYear.ToString())
                {
                    dict.Remove("year");
                }
                else
                {
                    dict["year"] = year;
                }

                <li><a href="@Url.RouteUrl(dict)">@year</a></li>
            }
        }
    </ul>
</div>
